html {
  background-color: #191724;
}

#header {
  justify-content: center;
  display: flex;
  width: 80%;
  background-color: white;
  border-radius: 25px;
  border: 5px solid black;
  margin: auto;
  margin-top: 15px;
}

#feedback-p-wrapper {
  background-color: white;
  margin: auto;
  padding: 5px;
  border-radius: 20px;
  border: 5px solid black;
  margin-top: 10px;
} 

p {
  text-wrap: breakword;
  font-size: 24px;
}

@keyframes slideInFromLeft {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

.game-boxes-wrapper {
  transform: translateX(-100%);
  animation: slideInFromLeft 3s forwards ease-in-out;
  position: relative;
  display: block;
}

.game-box {
  margin: 5px;
  padding: 10px;
  border: 5px solid black;
  background-color: #26233a;
  border-radius: 25px;
  transition: transform 1s ease, background-color 1s ease;
  font-size: 24px;
  width: 80%;
  display: flex;
}

.game-box:hover {
  transform: translateX(5%);
  background-color: #6e6a86;
}

.game-box-img { 
  overflow: hidden;
  border: 5px solid #f6c177;
  background-color: black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: border-radius 0.4s ease;
}

.game-box-img:hover {
  border-radius: 0%;
}

.game-box-img > img {
  scale: 0.8;
}

.game-box-desc {
  margin-top: 10px;
  margin-left: 2%;
  display: flex;
}

.game-box-desc > p {
  font-size: 24px;
}

.game-box-desc > p > a {
  color: #e0def4;
}

.header {
  display: flex;
  margin-bottom: 20px;
  margin-top: 15px;
}

.title-text {
  width: 70%;
  justify-contents: center;
  display: flex;
  background-color: green;
  border: 8px solid darkgreen;
  font-size: 18px;
  border-radius: 25px;
}

.title-text > h1 {
  margin: auto;
}

.feedback-button {
   width: 30%; 
}

.feedback-button > a > button {
  left: 70%;
  font-size: 16px;
  position: relative;
  transition: left 1s ease, margin-top 1s ease, margin-bottom 1s ease, scale 1s ease;
}

.feedback-button > a > button:hover {
  margin-bottom: 10px;
  left: 60%;
  scale: 1.5;
}
